/* events.css */
.event-page-container {
    text-align: center;
    padding: 20px;
}

.event-card {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.event-card:hover {
    transition: 0.3s ease-in-out;
    transform: scaleY(1.05);
}

.imgEvent {
    width: 100%;
    height: auto;
    border-radius: 0;
    /* Remove the border-radius */
}

.eventBtn {
    margin-top: 10px;
    width: 100%;
    transition: 0.3s ease-in-out;
}
