.eventSubContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
}

.eventBtn{
    padding: 10;
    border: none;
    font: inherit;
    color: white;
    background-color: #7848f4;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.eventBtn:focus{
    outline: 0;
}

.eventSection{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:40px
}

img{
    margin-bottom: 10px;
}