
.dashboard-container {
  text-align: center;
  padding: 20px;
}

.hero-image {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.hero-image h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-image p {
  font-size: 18px;
}

.counts-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.count-box {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
}

.users-box {
  background-color: #83C5F1;
}

.venues-box {
  background-color: #2ecc71;
}

.organizers-box {
  background-color: #e67e22;
}

.count-number {
  font-size: 24px;
  font-weight: bold;
}

.widgets-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.counts-container p{
  color: #000000;
  font-weight: 500;
}

.counts-container span{
  color: #000000;
  font-weight: 500;
}


.widget {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #34495e;
  color: #fff;
  margin: 0 10px;
}

.widget h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.widget li strong {
  font-size: 18px;
  color: #000000;
}

.widget h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.no-activity-message {
  overflow: hidden; 
}

.no-activity-message p {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  white-space: nowrap; 
  animation: slideIn 1s ease-in-out; 
}

@keyframes slideIn {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(0); 
  }
}

