
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 500px; /* Restrict the form size */
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea, select {
  width: calc(100% - 20px); /* Adjust width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  border: none;
  width: calc(100% - 20px); /* Adjust width */
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #2779bd;
}


.organizer-table th:nth-child(odd),
.organizer-table td:nth-child(odd) {
background-color: #f2f2f2; 
}

.organizer-table th:nth-child(even),
.organizer-table td:nth-child(even) {
background-color: #fff; 

}
.organizer-table tr:nth-child(odd) {
background-color: #f9f9f9;
}

.organizer-table tr:nth-child(even) {
background-color: #fff; 
}

.organizer-table th {
font-weight: bold;
padding: 8px;
text-align: left;
border: 1px solid #ddd;
}

.organizer-table td {
padding: 8px;
border: 1px solid #ddd;
}

.organizer-table tr:hover {
background-color: #f5f5f5;
}

.organizer-table{
margin: 0 auto;
}

.edit1{
background-color: green;
}

.remove1{
background-color: red;
}