
body,
h1,
p,
table,
th,
td,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.user-management-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #83C5F1;
  color: #000;
}

header h1{
  color: #000;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.textField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

main {
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #83C5F1;
  color: #000;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 5px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #83C5F1;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  input {
    font-size: 14px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 12px;
  }
}
