/* Homepage.css */

.homepage {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.homeSection {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.146);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.homeSection h2 {
    font-size: 1.5rem;
    color: black;
}

.homeSection p {
    font-size: 0.8rem;
    color: #666;
}

.big-text {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

p {
    color: #666;
    font-size: 18px;
}

.event {
    margin-top: 3.5rem;
}

.venue{
    margin-top: 3.5rem;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Default styles for larger screens */
.sectionContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 3.5rem;
  }
  
  .homeSection {
    width: 30%;
  }
  
  /* Styles for smaller screens (e.g., mobile devices) */
  @media (max-width: 768px) {
    .sectionContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .homeSection {
      width: 80%; /* Adjust the width as needed for your design */
      margin-bottom: 20px; /* Add some spacing between sections */
    }
  }
  

/* .section:nth-child(odd) {
    background-color: #f2f2f2;
    color: #333;
}

.section:nth-child(odd) img {
    border: 2px solid #333;
    border-radius: 10px;
} */

/* Media query for responsiveness */
@media (max-width: 768px) {
    .big-text {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
}