/* App.css */

/* Styles for the entire App */
.App {
  text-align: center;
  /* padding: 20px; */
  width: 100%;
}

/* Styles for the Header component */
/* You can adjust these styles based on your design */
.header {
  margin: 0;
  background-color: #343a40; /* Background color for the header */
  color: #fff; /* Text color for the header */
  padding: 20px; /* Add padding to the header */
}

.header a {
  color: #fff; /* Text color for header links */
  text-decoration: none; /* Remove underline from header links */
  font-size: 18px; /* Adjust font size for header links */
  margin-right: 20px; /* Add spacing between header links */
}

.header a:hover {
  color: #007bff; /* Change the color of header links on hover */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
}
